* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	background-color: var(--background);
	color: var(--dark);
	font-family: var(--font-family);
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--dark: #3B434E;
	--light: #FFF;
	--primary: #7653FC;
	--primary-hover: #4126B0;
	--background: #F5F6F8;
	--bride: #FC836D;
	--secondary: #1DC37E;
	--secondary-bg: #C8F8E4;
	--button-border: #EBEBEB;
	--gray-dark: #787D85;
	--font-family: 'Noto Sans', sans-serif;
}
