.tag {
	display: inline-block;
	border-radius: 5px;
	margin-right: 5px;
}

.s {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 12px;
}

.m {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 14px;
}

.ghost {
	border: 1px solid var(--background);
}

.red {
	background-color: #DE0000;
	color: var(--light);
	font-weight: bold;
}

.grey {
	background-color: #B3C0D9;
	color: var(--light);
	font-weight: bold;
}

.green {
	background-color: var(--secondary-bg);
	color: var(--secondary);
	font-weight: bold;
}

.primary{
	border: 1px solid var(--primary);
	background-color: none;
	color: var(--primary);
}